/* GENERAL */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;  color: #1f1f1f;
  text-decoration: none;
  color: white;
}

html {
  scroll-behavior: smooth;
}

.title {
  color: #fc4a1a;
  font-size: 40px;
}

.text {
  font-size: 18px;
  font-weight: 300;
  color: #1f1f1f
}

button {
  cursor: pointer;
}

/* background video */

.main-screen {
  position: relative;
  padding-bottom: 18vh;
  overflow: hidden;
}

.splash-video {
  transform: translate(-1300px);
}

.splash-background {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -20;
  overflow: hidden;
}

.splash-overlay {
  width: 100%;
  height: 100%;
  background-color: #4abdac;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.7;
}

.site-content {
  width: 85%;
  margin: auto;
}


/* navbar */

.topnav {
  padding: 40px 0;
  display: flex;
  justify-content:space-between;
}

.nav-logo img {
  filter: invert(100%) brightness(1.5);
}

.nav-right {
  display: flex;
  align-items: center;
}

.nav-links {
  margin: 10px;
}

.nav-links a {
  padding: 10px;
}

.nav-contact-info {
  display: flex;
}

.nav-contact-info > * {
  padding: 10px;
}


/* splash section */

.splash-text {
  margin: 5vh 0;
  width: 60%;
}

.splash-title {
  font-size: 70px;
}

.splash-checklist {
  margin: 50px 0;
}

.check-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.check-item i {
  margin-right: 10px;
  font-size: 20px;
}

.check-item p {
  font-size: 20px;
}

button {
  padding: 20px 50px;
  font-size: 20px;
  border-radius: 10px;
  transition: 0.3s;
  background-color: transparent;
  border: 2px solid #fc4a1a;
  display: flex;
  align-items: center;
}

button > * {
  color: #fc4a1a;
}

button:hover {
  transform: translate(0,-10px);
  background-color: #fc4a1a;
}

button:hover * {
  color: white;
}

.splash-button {
  background-color: transparent;
  border: 2px solid white;
}

.splash-button a {
  color: white;
}

.splash-button:hover {
  background-color: white;
  color: #4abdac;
}

.splash-button:hover > a {
  color: #4abdac;
}

/* second screen */

.about-screen {
  position: relative;
  overflow: hidden;
  padding-top: 15vh;
  padding-bottom: 21vh;
  background-color: white;
  z-index: 1;
}

.about-background-img {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.2;
  z-index: -1;
}

.cols-2 {
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.text-section {
  width: 60%;
  margin-right: 60px;
  word-spacing: 6px;
  letter-spacing: 0.5px;
}

.about-title {
  margin-bottom: 50px;
}

.cert-img {
  width: 220px;
  margin-bottom: 50px;
  filter: invert(60%);
  transition: 0.3s;
}

.animate-in-view {
  visibility: hidden;
}

.animate {
  visibility: visible;
  animation: fadeIn 1s;
}

@keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translate(0, 20px);
      }
    100% {
      opacity: 1;
      }
}

.cert-img:hover {
  transform: translate(0, -10px);
}

.enquire-button {
  padding: 20px 40px;
  margin-top: 65px;
}

.enquire-button p {
  margin-right: 20px;
}




/* Accountant card section */

.accountant-cards {
  display: flex;
}

.accountant-card {
  height: 500px;
  width: 25%;
  position: relative;
  transition: 0.3s;
  cursor: pointer;
  overflow: hidden;
  z-index: 0;
}

.card-background {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  opacity: 0.8;
  z-index: -1;
}

.card-background-img {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  filter: brightness(70%);
  z-index: -1;
}

.accountant-card:hover {
  transform: scale(1.1);
  filter: brightness(110%);
  z-index: 1;
}

.card-text {
  margin: 90px 50px;
}

.card-text i {
  margin-bottom: 40px;
  font-size: 60px;
}

.card-title {
  color: white;
  font-size: 50px;
  font-weight: 300;
  word-wrap: break-word;
}

.card-background.teal {
  background-color: #4abdac;
}

.card-background.orange {
  background-color: #fc4a1a;
}

.accountant-button {
  margin-top: 50px;
}



/* Skills Screen */

.skills-screen {
  position: relative;
  padding-top: 22vh;
  padding-bottom: 16vh;
  background-color: white;
}

.skills-cols {
  display: flex;
}

.skills-text {
  width: 50%;
  margin-right: 150px;
}

.skills-title {
  font-size: 50px;
}


.skills-list {
  display: flex;
  flex-wrap: wrap;
}

.skill-card {
  width: 250px;
  padding: 30px;
  margin-bottom: 30px;
  margin-right: 30px;
  border-radius: 5px;
  transition: 0.3s;
}

.skill-card:hover {
  background-color: #fc4a1a;
}

.skill-card:hover * {
  color: white;
}

.skill-card * {
  color: #1f1f1f;
  font-weight: 300;
}

.skill-icon {
  color: #fc4a1a;
  font-size: 40px;
  margin-bottom: 20px;
}

.skill-card-title {
  margin-bottom: 10px;
  font-weight: 500;
}




/* clients section */

.clients-section {
  height: 500px;
  background-color: #4abdac;
  display: flex;
  align-items: center;
}

.client-imgs {
  margin: auto;
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;

}

.client-img-container {
  width: 160px;
  margin: 30px 70px;
}

.client-img {
  filter: invert(100%);
  width: 100%;
  transition: 0.3s;
}

.client-img:hover {
  transform: scale(1.2);
}




/* contact section */

.contact-us-section {
  background-color: white;
}

input, textarea, label {
  color: #1f1f1f;
}

textarea {
  resize: vertical;
}


/* footer */

.footer-spacer, .footer {
  height: 400px;
}

.footer-spacer {
  width: 100%;
}

.footer {
  width: 100%;
  background-color: #4abdac;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: -30;
  line-height: 25px;
}

.footer-content {
  width: 85%;
  margin: 50px auto;
  display: flex;
  justify-content: space-between;
}

.footer-col-1 {
  width: 30%;
}

.footer-col-3 {
  width: 40%;
  margin-left: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.footer-logo {
  margin-bottom: 30px;
}

.footer-text {
  font-weight: 300;
}

.location-icon {
  margin: 0;
  margin-top: 6px;
  margin-right: 10px;
  color: white;
  font-size: 20px;
}

.footer-contact-section {
  display: flex;
  margin-bottom: 10px;
}

.footer-img-container {
  width: 200px;
}

.footer-img {
  width: 100%;
}

.footer-copyright {
  width: 100%;
  padding: 10px 0;
  text-align: center;
}



